@import './../../../style/constants/index.scss';
@import './../../../style/mixins/index.scss';

.main-header {
  position: relative;
  @include display-flex(row, space-between, center);
  background-color: $lightGrey;
  padding: 10px 20px 10px 20px;

  @media (max-width: $maxMobileSize), (orientation: portrait) {
    background: linear-gradient(to right, $tahitiGold 55%, $vividCyan 100%);
    padding: 4px 10px;
  }

  &__horizontal-wrapper {
    display: flex;

    .icon-btn--cancel {
      margin-right: 10px;

      @media (max-width: $maxMobileSize), (orientation: portrait) {
        margin-right: 16px;
      }
    }
  }

  &__info-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;

    @media (max-width: $maxMobileSize), (orientation: portrait) {
      display: block;
    }

    p {
      text-align: center;

      &:first-of-type {
        font: $bold 17px/22px $secondaryFont;
        letter-spacing: 0.02em;
        color: $white;
      }

      &:last-of-type {
        font: $regular 13px/16px $secondaryFont;
        color: $textLightGrey;
        letter-spacing: -0.02em;
        @include text-elipsis(150px);
      }
    }
  }
}
