@import '../../../../../style/constants/index.scss';

.calendar-day-cell {
  overflow-y: auto;

  &__empty {
    border: 2px dashed $grey;
    display: flex;
    height: calc(100% - 18px);
    animation: show 0.5s;

    & span {
      padding: 0 24px;
      margin: auto;
      color: $darkGrey;
      font-size: 18px;
      text-align: center;
    }
  }
}
