@import '../../../style/constants/index.scss';
@import '../../../style/mixins/index.scss';

.ui-field-wrapper {
  &__block {
    position: relative;
    width: 100%;
    max-width: 350px;
    padding: 0 0 22px;

    &.search-form__input {
      padding-bottom: 0;
    }

    &--full-width {
      max-width: initial;
    }
  }

  &__title {
    margin-left: 1px;
    margin-bottom: 2px;
    font: 400 12px/20px 'Roboto';
    color: $textGrey;
    @include text-elipsis(100%);
  }

  &__error {
    position: absolute;
    bottom: 4px;
    padding-bottom: 2px;
    font: 400 12px/14px 'Roboto';
    color: $mainRed;
    @include text-elipsis(100%);
  }
}
