@import './../../../../style/constants/index.scss';
@import './../../../../style/mixins/index.scss';

.patient-form-struct {
  &__block {
    display: grid;
    grid-template-columns: repeat(2, minmax(280px, 350px));
    grid-column-gap: 42px;
    justify-content: center;
    justify-items: center;
    padding: 24px 24px 2px 24px;
    border-bottom: 1px solid $lightGrey;

    @media (max-width: 670px) {
      grid-template-columns: minmax(280px, 350px);
    }

    .fullWidth {
      grid-column-start: 1;
      grid-column-end: 3;
      max-width: calc((350px * 2) + 42px);

      @media (max-width: 670px) {
        grid-column-start: 1;
        grid-column-end: 2;
        max-width: 350px;
      }
    }

    &:first-child {
      padding: 0 24px 2px;
    }

    &:nth-last-child(-n + 2) {
      border-bottom: none;
    }

    &:last-child {
      padding: 24px 24px 2px;
      border-bottom: none;
    }

    @media (max-width: $maxMobileSize), (orientation: portrait) {
      width: calc(100% + 20px);
      margin: 0 -10px;
    }

    @media (max-width: 736px) {
      padding-left: 10px;
      padding-right: 10px;

      &:first-child {
        padding-left: 10px;
        padding-right: 10px;
      }

      &:last-child {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }

  &__buttons-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: calc((350px * 2) + 42px);
    margin: 24px auto 0;

    @media (max-width: 790px) and (min-width: 742px) {
      padding: 0;
      padding: 0 14px;
    }

    .rectangular-button__wrapper {
      max-width: 168px;
      margin: 0;
    }

    @media (max-width: 670px) {
      max-width: 350px;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      .rectangular-button__wrapper {
        max-width: 350px;
      }
    }
  }

  &__buttons-group {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    @media (max-width: 670px) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
  }
}
