@import './../../../../style/constants/index.scss';
@import './../../../../style/mixins/index.scss';

.base-steps-body {
  position: relative;
  z-index: 2;
  overflow-y: auto;
  width: 100%;
  height: calc(100% - 44px);
  padding: 24px 0;
  background-color: $white;
  border-radius: $desktopBorderRadius;
  box-shadow: 0 0 8px 0 $shadowBlackMedium;

  @media (max-width: $maxMobileSize), (orientation: portrait) {
    height: calc(100% - 44px);
    padding: 10px;
    border-radius: $mobileBorderRadius;
    box-shadow: none;
  }
}
