@import './../../../style/constants/index.scss';
@import './../../../style/mixins/index.scss';

.new-message-page {
  @include display-flex(column, flex-start, stretch);
  position: relative;
  width: 100%;
  height: 100%;

  &__content {
    flex: 1;
    background-color: $white;
    border-radius: $desktopBorderRadius;
    box-shadow: 0 0 8px 0 $shadowBlackLight;

    @media (max-width: $maxMobileSize), (orientation: portrait) {
      border-radius: $mobileBorderRadius $mobileBorderRadius 0 0;
      box-shadow: none;
    }
  }
}
