/**
* Colors
*/

$white: #ffffff;
$darkWhite: #fafafa;
$darkWhiteBackground: #f2f2f2;
$lightGreyBackground: hsl(0, 0%, 90%);
$whiteHover: darken(#ffffff, 5%);
$mainBlue: #4f5fe8;
$secondaryBlue: rgba(79, 95, 232, 0.35);
$mainBlueHover: darken($mainBlue, 8%);
$lightGrey: #f0f2f5;
$lightestGrey: #d8d8d8;
$grey: #e3e4e6;
$darkGrey: #808080;
$mainRed: #f01e49;
$textGrey: rgba(115, 121, 128, 0.87);
$darkMiddleGrey: rgba(153, 153, 153, 0.4);
$darkMiddleLGrey: rgba(153, 153, 153, 0.9);
$inputPlaceholder: #999999;
$inputText: #333333;
$textLightGrey: #b3b3b3;
$darkTextColor: #4a4a4a;
$darkerTextColor: #595959;
$vividCyan: #0dc3e5;
$tahitiGold: #712aea;
$navLinkLabelColor: rgba(255, 255, 255, 0.6);
$black: #0d0d0d;
$substrateBackgroundColor: rgba(0, 0, 0, 0.7);
$shadowBlackLightest: rgba(0, 0, 0, 0.1);
$shadowBlackLight: rgba(0, 0, 0, 0.12);
$shadowBlackMedium: rgba(0, 0, 0, 0.16);
