/**
* Config
*/

// -------- UI elements sizes --------

$buttonHeight: 50px;
$fieldHeight: 40px;

// -------- UI elements parameters --------

$desktopBorderRadius: 3px;
$mobileBorderRadius: 8px;

// -------- Devices sizes --------

$minDesktopSize: 1366px;
$maxMobileSize: 1023px;

// -------- Fonts --------

$regular: 400;
$medium: 500;
$bold: 600;
$mainFont: 'Roboto';
$secondaryFont: 'Source Sans Pro';
