@import './../../../style/constants/index.scss';
@import './../../../style/mixins/index.scss';

.message-preview {
  @include display-flex(column, space-between, flex-start);
  position: relative;
  min-height: 135px;
  padding: 15px 10px 18px 16px;
  cursor: pointer;
  border-bottom: 1px solid $grey;
  @include transition(0.3s);

  @media (max-width: $maxMobileSize), (orientation: portrait) {
    padding: 10px;
  }

  &--active {
    box-shadow: inset 3px 0px 0px 0px $mainBlue;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: $mainBlue;
    @include transition();
    opacity: 0;
  }

  &--unreaded {
    &:after {
      opacity: 1;
    }

    .message-preview__description,
    .message-preview__from,
    .message-preview__title,
    .message-preview__date {
      font-weight: $bold;
    }
  }

  &.active,
  &:hover {
    background-color: $darkWhite;
  }

  &__header {
    margin-bottom: 10px;
    max-width: 100%;
  }

  &__from {
    color: $darkerTextColor;
    font: $regular 14px/19px $mainFont;
    @include text-elipsis(100%);
  }

  &__content {
    max-width: 100%;
    @include display-flex(column, space-between, flex-start);
    flex: 1;
  }

  &__title {
    margin-bottom: 5px;
    font: $bold 16px/19px $secondaryFont;
    color: $black;
    @include text-elipsis(100%);
  }

  &__description {
    color: $darkerTextColor;
    font: $regular 14px/16px $mainFont;
    @include text-elipsis(100%);
  }

  &__date {
    color: $textLightGrey;
    font: $regular 12px/12px $mainFont;
  }
}
