@import '../../../style/constants/index.scss';
@import '../../../style/mixins/index.scss';

.icon-btn {
  @include display-flex(row, flex-start, center);
  border: none;
  padding: 5px 10px 5px 5px;
  border-radius: 15px;

  &:hover {
    background-color: $darkWhite;
  }

  &--title-first {
    flex-direction: row-reverse;
    padding: 5px 5px 5px 10px;

    .icon-btn__title {
      margin-left: 0;
      margin-right: 5px;
    }
  }

  &--error-left {
    border-left: 1px solid $mainRed;
  }

  &--search {
    position: absolute;
    top: 0;
    right: 1px;
    padding: 0;
  }

  &--cancel {
    .icon-btn__title {
      color: $inputPlaceholder;
    }

    .icon-btn__icon-wrapper {
      div div svg g g {
        fill: $inputPlaceholder;
      }
    }
  }

  @media (max-width: $maxMobileSize), (orientation: portrait) {
    padding: 0;
    border-radius: none;
  }

  &__mobile-icon-wrapper {
    display: none;

    @media (max-width: $maxMobileSize), (orientation: portrait) {
      display: block;
    }
  }

  &__icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 20px;
    height: 20px;

    div div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 13px;
      height: 13px;
      svg {
        width: 13px;
        height: 13px;
      }
    }

    &--delete {
      width: 40px;
      height: 40px;
      border-radius: $desktopBorderRadius;
      background-color: $lightGrey;
      div div {
        @include display-flex(row, center, center);
        width: 40px;
        height: 40px;
        svg {
          width: 12px;
          height: 16px;
        }
      }
    }

    &--search {
      width: 38px;
      height: 38px;
      border-top-right-radius: $desktopBorderRadius;
      border-bottom-right-radius: $desktopBorderRadius;
      background-color: $white;
      border-left: 1px solid $grey;

      div div {
        @include display-flex(row, center, center);
        width: 38px;
        height: 38px;

        svg {
          width: 16px;
          height: 16px;
        }
      }

      @media (max-width: $maxMobileSize), (orientation: portrait) {
        border-top-right-radius: $mobileBorderRadius;
        border-bottom-right-radius: $mobileBorderRadius;
      }
    }

    @media (max-width: $maxMobileSize), (orientation: portrait) {
      display: none;
    }
  }

  &__title {
    margin-left: 5px;
    font: $bold 16px/19px $secondaryFont;
    color: $black;

    @media (max-width: $maxMobileSize), (orientation: portrait) {
      display: none;
      pointer-events: none;
    }
  }
}
