@import './../../../style/constants/index.scss';
@import './../../../style/mixins/index.scss';

.load-more-button {
  &__wrapper {
    width: 100%;
    max-width: 350px;
    height: $buttonHeight;
    margin: 0 auto;
    border: none;
    border-radius: $desktopBorderRadius;
    background-color: $mainBlue;
    font: $bold 14px/14px $secondaryFont;
    color: $white;

    &:hover {
      background-color: $mainBlueHover;
    }

    // modify for rectangular-button

    &--white {
      background-color: transparent;
      color: $mainBlue;

      &:hover {
        background-color: transparent;
      }
    }
  }
  &__icon {
    @include display-flex(row, center, center);
    span {
      margin-right: 10px;
    }
  }
}
