.container {
  padding-top: 100px;
  min-height: 100vh;
}

.wrapper {
  max-width: 1150px;
  margin: 0 auto;
}

.content-form {
  padding-top: 100px;
}

.wrapLottery {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}

.inputRow {
  display: flex;
  flex-direction: column;
  &__label {
    font-size: 14px;
    color: #74777E;
    font-weight: 500;
    margin-bottom: 5px;
  }
  &__input {
    flex: 1;
    font-size: 14px;
    height: 50px;
    padding: 0 15px;
    border-radius: 6px;
    background: #ECECEC;
  }
}

.button {
  padding: 14px;
  width: 100%;
  color: #fff;
  text-align: center;
  display: block;
  padding: 0;
  font-size: 18px;
  letter-spacing: 0.3px;
  background-color: $red;
  border-radius: 6px;
  font-weight: 600;
  border: 2px solid transparent;
  // min-height: 50px;
  padding: 14px 0;
  transition: 0.3s;
  font-family: 'Montserrat Alternates', sans-serif;
  &:hover {
    background-color: #FF0D51;
  }
  &.cancel {
    border: 2px solid #ECECEC;
    color: #272E40;
    background: transparent;
    &:hover {
      background-color: #ECECEC;
    }
  }
  &.transparent {
    background-color: transparent;
    color: $red;
    margin-left: 10px;
    border: 2px solid $red;
  }
}

.btn {
  border: 2px solid #E60041;
  border-radius: 6px;
  padding: 14px 10px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.subHeader {
  background-color: #ECECEC;
  padding: 10px;
  &__title {
    color: #272E40;
    font-size: 14px;
    font-weight: 500;
  }
}

.notification {
  transition: 0.3s;
  position: fixed;
  right: 0;
  top: 54px;
  min-height: 72px;
  padding: 18px 23px;
  border-radius: 6px 0 0 6px;
  box-shadow: 0 0 18px 0 rgba(39,46,64,0.1);
  background: $orange;
  width: 278px;
  display: flex;
  display: flex;
  align-items: center;
  transform: translateX(100%);
  &.active {
    transform: translateX(0%);
  }
  &__img {
    width: 26px;
    height: 26px;
    margin-right: 8px;
  }
  &__text {
    flex: 1;
    line-height: 22px;
    color: #272E40;
    font-size: 16px;
    font-weight: 600;
  }
  &__close {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 10px;
    height: 14px;
    background: url('/dist/img/close.png') no-repeat center center;
    background-size: contain;
  }
}

.inputRow {
  &__itemInput {
    height: 50px;
    padding: 0 15px;
    flex: 1;
    color: #272E40;
    font-size: 14px;
    border-radius: 6px;
    background-color: #ECECEC;
    border: 2px solid transparent;
  }
  &__label {
    color: #74777E;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 8px;
  }
  &__wrapInput {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
  }
  .errorText {
    margin-left: 12px;
    color: $red;
    font-size: 12px;
    font-weight: 600;
    margin-top: 5px;
    line-height: 15px;
    display: none;
  }
  &.error {
    .inputRow__wrapInput {
      &:after {
        position: absolute;
        right: 14px;
        top: 50%;
        transform: translateY(-50%);
        content: '';
        width: 22px;
        height: 22px;
        // background: url('../../img/errorIcon.png') no-repeat center center;
        background-size: contain;
      }
    }
    .errorText {
      display: block;
    }
    input {
      border-color: $red;
      background: transparent;
    }
  }
}

.pagination {
  @include display-flex(row, inherit, center);
  &__btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #74777E;
    margin: 0 5px;
    font-size: 16px;
    &.gray {
      background-color: #ECECEC;
    }
    &.red {
      background-color: $red;
      color: #fff;
    }
  }
  &__btnNav {
    &.prev {
      margin-right: 10px;
    }
    &.next {
      margin-left: 10px;
    }
    i {
      font-size: 20px;
      color: #74777E;
    }
  }
}

@keyframes loading {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background-color: rgba(39,46,64,0.9);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 10;
  &__img {
    transition: 0.3s;
    width: 80px;
    height: 80px;
    animation: loading 1.5s linear infinite;
  }
  &.active {
    display: flex;
  }
}