@import './../../../style/constants/index.scss';
@import './../../../style/mixins/index.scss';

.profile-menu {
  position: fixed;
  z-index: 10;
  left: 76px;
  bottom: 30px;
  transform: translateY(215px) translateX(20px);
  @include display-flex(column, space-between, center);
  width: 100%;
  max-width: 320px;
  height: 126px;
  padding: 20px 16px;
  border-radius: $desktopBorderRadius;
  background-color: $white;
  box-shadow: 0 0 10px 0 $shadowBlackMedium;
  transition: all 0.3s ease 0.1s;

  @media (max-width: $maxMobileSize), (orientation: portrait) {
    left: 0;
    transform: translateY(215px) translateX(0);
    max-width: 414px;
    border-radius: $mobileBorderRadius;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &--open {
    transform: translateY(0) translateX(0);

    @media (max-width: $maxMobileSize), (orientation: portrait) {
      transform: translateY(-50px);
    }
  }

  &__substrate {
    position: fixed;
    z-index: 8;
    left: 0;
    bottom: 0;
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: $substrateBackgroundColor;
    animation: show 0.3s;
  }

  &__title-block {
    width: 100%;
    @include display-flex(row, space-between, center);
  }

  &__user-name {
    font: $bold 20px/20px $secondaryFont;
    color: $black;
    @include text-elipsis-custom;
  }

  &__logout-btn {
    flex-shrink: 0;
    font: $bold 14px/20px $secondaryFont;
    color: $mainBlue;
    cursor: pointer;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: $mainBlueHover;
    }
  }

  &__language-block {
    @include display-flex(row, space-between, center);
    width: 100%;
    min-height: 40px;
  }

  &__radio-btns-title {
    font: $medium 14px/20px $secondaryFont;
    color: $darkTextColor;
  }

  &__close-btn-wrapper {
    position: absolute;
    z-index: 1;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
  }
}
