@import './../../../style/constants/index.scss';
@import './../../../style/mixins/index.scss';

.main-navigation-bar {
  background: linear-gradient(180deg, $tahitiGold 55%, $vividCyan 100%);

  @media (max-width: $maxMobileSize), (orientation: portrait) {
    position: relative;
    z-index: 11;
    background: $white;
    box-shadow: 0 0 10px 0 $shadowBlackLightest;
  }

  &__horizontal-wrapper {
    @include display-flex(column, space-between, center);
    max-width: 460px;
    height: 100%;
    width: 100%;
    padding: 30px 10px;
    margin: 0 auto;

    @media (max-width: $maxMobileSize), (orientation: portrait) {
      flex-direction: row;
      justify-content: center;
      padding: 6px 10px 4px;
    }
  }

  &__logo-wrapper {
    height: 36px;
    width: 44px;

    div div svg {
      height: 36px;
      width: 44px;
    }

    &:hover {
      animation: 1s infinite beatHeart;
    }

    @media (max-width: $maxMobileSize), (orientation: portrait) {
      display: none;
    }
  }

  &__links-block {
    @include display-flex(column, center, center);
    margin: 50px 0;

    @media (max-width: $maxMobileSize), (orientation: portrait) {
      @include display-flex(row, space-between, center);
      width: calc(100% / 5 * 4);
      margin: 0;
    }
  }

  &__profile-wrapper {
    @media (max-width: $maxMobileSize), (orientation: portrait) {
      display: flex;
      justify-content: flex-end;
      width: calc(100% / 5);
    }
  }

  &__profile {
    @include display-flex(column, center, center);
    cursor: pointer;

    &--active {
      .main-navigation-bar__profile-icon-wrapper {
        svg #surgeon {
          path {
            &:nth-child(2) {
              fill-opacity: 1;
            }
          }
        }
      }
    }

    &:hover {
      .main-navigation-bar__profile-icon-wrapper {
        svg #surgeon {
          path {
            &:nth-child(2) {
              fill-opacity: 1;
            }
          }
        }
      }
    }
  }

  &__profile-icon-wrapper {
    @include display-flex(column, center, center);
    flex-shrink: 0;
    width: 50px;
    height: 50px;

    div div {
      @include display-flex(column, center, center);
      width: 50px;
      height: 50px;

      svg {
        width: 50px;
        height: 50px;

        path {
          @include transition(0.2s);
        }
      }
    }

    @media (max-width: $maxMobileSize), (orientation: portrait) {
      width: 24px;
      height: 22px;
      margin-bottom: 6px;

      div div {
        width: 24px;
        height: 22px;

        svg {
          width: 24px;
          height: 22px;

          path {
            fill: $darkTextColor;
          }
        }
      }
    }
  }

  &__profile-label {
    display: none;

    @media (max-width: $maxMobileSize), (orientation: portrait) {
      display: block;
      font: $regular 12px/13px $secondaryFont;
      letter-spacing: 0.2px;
      color: $darkTextColor;
      @include transition(0.2s, color);
    }
  }
}
