@import './../../../../style/constants/index.scss';
@import './../../../../style/mixins/index.scss';

.auth-structure {
  display: flex;
  width: 100%;
  min-height: 100vh;

  &__image-wrapper {
    display: flex;
    flex-shrink: 0;
    width: 50%;
    max-width: 600px;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 100%;

    // Main media query for mobile-tablet-desktop
    @media (max-width: $maxMobileSize), (orientation: portrait) {
      display: none;
    }
  }

  &__form-block {
    @include display-flex(column, space-between, center);
    width: 100%;
    padding: 76px 24px 24px;

    @media (max-width: $maxMobileSize) {
      padding: 76px 10px 20px;
    }
  }

  &__logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 156px;
    height: 108px;
    margin-bottom: 48px;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 156px;
      height: 108px;
    }
  }

  &__app-version {
    margin-top: 24px;
    color: $textLightGrey;
    font: $regular 12px/14px $mainFont;
    letter-spacing: 0.2px;
  }
}
