@import './../../../../style/constants/index.scss';
@import './../../../../style/mixins/index.scss';

.calendar-nav {
  background: $lightGrey;
  display: flex;

  &__date {
    @include display-flex(row, center, center);
    flex: 1;
    font-weight: bold;
    font-size: 18px;
  }

  &__button {
    border-radius: 3px;
    background: #ffffff;
    border: 1px solid $grey;
    height: 44px;
    width: 36px;
    @include display-flex(row, center, center);
    @include transition(0.2s);

    div div {
      margin: 2px 0 0 0;
      height: 14px;
      width: 12px;

      svg {
        height: 14px;
        width: 14px;

        g {
          fill: $mainBlue;
        }
      }
    }

    // Modify

    &--left {
      div div {
        transform: rotate(180deg);
      }
    }

    &:hover {
      background: $lightGrey;
      cursor: pointer;

      div div {
        svg {
          g {
            fill: $mainBlueHover;
          }
        }
      }
    }

    &:active {
      background: $grey;
    }
  }
}
