@import '../../../style/constants/index.scss';
@import '../../../style/mixins/index.scss';
@import '../../../style/animations/index.scss';

.file-uploader {
  display: block;
  position: relative;
  height: auto;
  min-height: 50px;
  border: 1px solid $grey;
  border-radius: $desktopBorderRadius;
  border-left: none;
  background-color: $darkWhite;
  @include display-flex(row, flex-start, center);

  &__label {
    align-self: stretch;
  }

  &--error {
    border-color: $mainRed;
  }

  &__icon {
    width: 50px;
    border-right: 1px solid $grey;
    border-left: 1px solid $grey;
    border-radius: $desktopBorderRadius;
    @include display-flex(row, center, center);
    cursor: pointer;
    background-color: $white;

    height: 100%;
    min-height: 50px;

    &--error {
      border-color: $mainRed;
    }
  }
  &__description {
    padding-left: 10px;
    font: $regular 14px/14px $mainFont;
    color: $inputPlaceholder;
    @include display-flex(row, flex-start, center);
    flex-wrap: wrap;
  }

  &__input {
    display: none;
  }

  &__item-wrapper {
    border-radius: $desktopBorderRadius;
    display: flex;
    border: 1px solid #e3e4e6;
    background-color: $lightGreyBackground;
    margin: 5px;
    @include display-flex(row, flex-start, center);
    padding: 8px;
    animation: show 0.3s;

    @media (max-width: $minDesktopSize), (orientation: portrait) {
      margin: 5px;
    }
  }

  &__item {
    color: $black;
    font: $regular 12px/12px $mainFont;
    border-radius: $desktopBorderRadius;
  }

  &__attached-icon {
    margin-right: 5px;

    svg {
      max-width: 15px;
      max-height: 20px;
    }
  }

  &__remove {
    color: $black;
    padding-left: 5px;

    div {
      width: 17px;
      height: 17px;
    }

    &:hover {
      cursor: pointer;

      svg path {
        fill: $mainBlue;
      }
    }
  }
}
