@import './../../../../style/constants/index.scss';
@import './../../../../style/mixins/index.scss';

.base-tabs-body {
  position: relative;
  z-index: 2;
  overflow-y: auto;
  background-color: $white;
  border-radius: $desktopBorderRadius;
  box-shadow: 0 0 8px 0 $shadowBlackMedium;
  padding: 34px 24px 6px;
  height: calc(100% - 36px);

  @media (max-width: $maxMobileSize), (orientation: portrait) {
    border-radius: $mobileBorderRadius;
    background-color: #ffffff;
    box-shadow: none;
    padding: 12px;
    margin: 10px 0 0 0;
    height: calc(100% - 40px);
  }
}
