@import '../../../style/constants/index.scss';
@import '../../../style/mixins/index.scss';

.adaptive-btn {
  position: relative;
  display: none;
  width: 24px;
  height: 23px;
  border: none;
  outline: none;
  cursor: pointer;

  @media (max-width: $maxMobileSize), (orientation: portrait) {
    display: block;
  }

  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 1.5px;
    background-color: $white;
    opacity: 1;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;

    &:nth-of-type(1) {
      top: 0;
      left: 0;
    }

    &:nth-of-type(2) {
      top: 10px;
      right: 0;
      width: 18px;
    }

    &:nth-of-type(3) {
      top: 20px;
      left: 0;
    }
  }

  &--adaptive {
    span {
      &:nth-of-type(1) {
        top: 10px;
        transform: rotate(135deg);
      }

      &:nth-of-type(2) {
        opacity: 0;
        right: 30px;
      }

      &:nth-of-type(3) {
        top: 10px;
        transform: rotate(-135deg);
      }
    }
  }
}
