@import '../../../../../style/constants/index.scss';

.calendar-mobile-week-cell {
  display: flex;
  margin: 0 0 34px 0;

  &:last-child {
    margin: 0;
  }

  &__tasks {
    flex: 1;
  }

  &__date {
    border-right: 1px solid $grey;
    padding: 0 6px 0 0;
    margin: 0 10px 0 0;
    width: 38px;
    text-align: center;
    color: $grey;
  }

  &__day {
    font-weight: bold;
    font-size: 22px;
  }

  &__day-of-week {
    font-weight: 500;
  }

  &__empty {
    border: 2px dashed $grey;
    display: flex;
    height: 100%;
    animation: show 0.5s;

    & span {
      padding: 10px 16px;
      margin: auto;
      color: $darkGrey;
      font-size: 16px;
      text-align: center;
    }
  }

  // Modify

  &--active &__date {
    border-right: 1px solid $mainBlue;
    color: $black;
  }
}
