@import '../../../../../style/index.scss';
@import '../../../../../style/mixins/index.scss';

.week-task {
  background-color: $white;
  border-radius: 4px;
  box-shadow: 0 1px 6px 1px $shadowBlackLight;
  padding: 9px;
  height: 106px;
  cursor: pointer;
  @include display-flex(column);
  @include transition(0.2s);

  &:active {
    background-color: $white - 8;
  }

  &__category {
    @include display-flex($align-horizontal: center, $align-vertical: center);
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    border-radius: $desktopBorderRadius;

    div div {
      svg {
        height: 26px;
        width: 26px;
      }
    }
  }

  &__title {
    flex: 1;
    margin: 10px 0 0 0;
    @include text-elipsis();
  }

  &__time {
    margin: auto 0 0 0;
    color: $darkGrey;
  }
}
