@import './../../../style/mixins/index.scss';
@import './../../../style/constants/index.scss';
@import '../../../style/animations/index.scss';

.multi-select {
  width: 100%;
  border: none;
  border-radius: $desktopBorderRadius;
  font: $regular 14px/14px $mainFont;
  color: $inputText;

  &.multi-select--error {
    .multi-select__control {
      border: 1px solid $mainRed;

      &--is-focused {
        border: 1px solid $mainBlue;
      }
    }
  }

  .multi-select {
    &--is-disabled {
      opacity: 0.7;
    }

    &__control {
      @include transition();
      background-color: $darkWhite;
      box-shadow: none;
      border: 1px solid $grey;

      @media (max-width: $maxMobileSize), (orientation: portrait) {
        justify-content: flex-end;
        flex-wrap: nowrap;
      }

      &:hover {
        border: 1px solid darken($grey, 5%);
        background-color: darken($darkWhite, 2%);
      }

      &--is-focused {
        border: 1px solid $mainBlue;
        background-color: $white;

        &:hover {
          border: 1px solid $mainBlue;
          background-color: $white;
        }
      }
    }

    &__value-container {
      @media (max-width: $maxMobileSize), (orientation: portrait) {
        overflow: hidden;
      }
    }

    &__clear-indicator {
      align-self: center;
    }

    &__indicators {
      align-items: stretch;
    }

    &__indicator-separator {
      display: none;
    }

    &__input {
      input {
        transition: none;
      }
    }

    &__value-container {
      cursor: text;
      padding: 0 0 0 16px;
    }

    &__dropdown-indicator {
      padding: 0;
      cursor: pointer;
    }

    &__dropdown-button {
      height: 100%;
      min-height: 38px;
      width: 40px;
      @include display-flex(row, center, center);
      border-radius: $desktopBorderRadius;
      border-left: 1px solid $grey;
      background-color: $white;
      pointer-events: none;
    }

    &__placeholder {
      font-weight: 400;
      font-size: 14px;
      font-family: 'Roboto';
      color: $inputPlaceholder;
    }

    &__multi-value {
      padding: 5px;
      animation: show 0.3s;
      max-width: 170px;
    }

    &__multi-value__remove {
      cursor: pointer;

      &:hover {
        background-color: transparent;

        svg path {
          fill: $mainBlue;
        }
      }
    }
  }
}
