@import '../../../../../style/constants/index.scss';

.calendar-month-grid {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 28px 1fr;
  display: grid;
  border-radius: 5px;
  overflow-y: auto;

  &__date {
    text-transform: uppercase;
    justify-self: center;
    font-size: 13px;
    color: $darkGrey;
  }
}
