@import './../../../style/constants/index.scss';
@import './../../../style/mixins/index.scss';

.switch {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 350px;
  height: 40px;
  border: 1px solid $grey;
  border-radius: $desktopBorderRadius;
  background-color: $darkWhite;

  .switch__item {
    &:nth-child(1) {
      opacity: 1;
    }

    &:nth-child(2) {
      opacity: 0;
    }
  }

  &--checked {
    .switch__item {
      &:nth-child(1) {
        opacity: 0;
      }

      &:nth-child(2) {
        opacity: 1;
      }
    }
  }

  &__item {
    @include display-flex(row, center, center);
    flex: 1;
    height: 38px;
    padding-top: 2px;
    background-color: transparent;
    font: $regular 14px/32px $secondaryFont;
    text-align: center;
    color: $inputPlaceholder;
    transition: opacity 0.1s ease-in-out;
  }

  &__active-elem {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: -1px;
    width: 50%;
    height: 40px;
    border: 1px solid $mainBlue;
    border-radius: $desktopBorderRadius;
    background-color: $white;
    transform: translateX(calc(100% + 2px)) translateY(-50%);
    transition: transform 0.3s ease;

    &--checked {
      transform: translateX(0) translateY(-50%);
    }

    span {
      display: block;
      margin: 0 auto;
      padding-top: 2px;
      font: $regular 14px/38px $secondaryFont;
      text-align: center;
      &:first-letter {
        text-transform: uppercase;
      }
    }
  }
}
