@import '../../../style/constants/index.scss';
@import '../../../style/mixins/index.scss';

.calendar {
  display: flex;
  flex-direction: column;
  margin-top: 34px;
  height: calc(100% - 34px);

  @media (max-width: $maxMobileSize), (orientation: portrait) {
    margin-top: 10px;
    height: calc(100% - 10px);
  }

  &__nav-wrapper {
    min-height: 44px;
  }

  &__grid-wrapper {
    margin-top: 24px;
    flex: 1;
  }

  &__task {
    animation: task 0.47s 0.16s ease both;
    opacity: 0;

    &--day {
      margin: 0 0 14px 0;
    }

    &--week {
      margin: 0 0 8px 0;
    }

    &--month {
      margin: 0 0 5px 0;
    }

    &:last-child {
      margin: 0;
    }
  }

  &__loading-icon {
    animation: blink 1.1s ease-in-out infinite;
    height: 340px;
    @include display-flex($align-horizontal: center, $align-vertical: center);

    div div {
      svg {
        height: auto;
        width: 140px;
      }
    }
  }
}

@keyframes task {
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
