@import './../../../style/constants/index.scss';
@import './../../../style/mixins/index.scss';

.popup {
  &__window-wrapper {
    position: fixed;
    z-index: -1;
    left: 0px;
    top: 0px;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: $substrateBackgroundColor;
    overflow: hidden;
    pointer-events: none;

    &--open {
      z-index: 2000;
      pointer-events: auto;
      animation: show 0.3s;
    }
  }

  &__modal-margin-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 562px;
    margin: auto;
    padding: 6px;
  }

  &__modal {
    min-height: 370px;
    padding: 24px 16px;
    border-radius: $desktopBorderRadius;
    background-color: $white;

    &--open {
      animation: popup-content 0.3s;
    }
  }
}
