@import './../../../../style/constants/index.scss';
@import './../../../../style/mixins/index.scss';

.base-steps-header {
  position: relative;
  display: block;
  margin-bottom: 16px;

  &__step-list {
    position: relative;
    @include display-flex($align-horizontal: space-between);
    width: 100%;
    padding-bottom: 11px;

    &:after {
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      content: '';
      display: block;
      width: 100%;
      max-width: calc(100% - 6px);
      height: 1px;
      background-color: $lightestGrey;
    }
  }

  &__step {
    position: relative;
    @include display-flex($align-horizontal: center);
    max-width: 150px;

    &:before {
      position: absolute;
      z-index: 2;
      bottom: -17px;
      left: 50%;
      transform: translateX(-50%);
      content: '';
      display: none;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background-color: rgba(79, 95, 232, 0.25);
    }

    &:after {
      position: absolute;
      z-index: 3;
      bottom: -14px;
      left: 50%;
      transform: translateX(-50%);
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $inputPlaceholder;
    }

    &:first-child {
      justify-content: flex-start;

      &:before {
        left: 0;
        transform: translateX(0);
      }

      &:after {
        left: 3px;
        transform: translateX(0);
      }
    }

    &:last-child {
      justify-content: flex-end;

      &:before {
        left: initial;
        right: 0;
        transform: translateX(0);
      }

      &:after {
        left: initial;
        right: 3px;
        transform: translateX(0);
      }
    }

    &--active {
      &:before {
        display: block;
      }

      &:after {
        background-color: $mainBlue;
      }

      .base-steps-header__step-title {
        font-weight: 500;
        color: $black;
      }
    }
  }

  &__step-title {
    line-height: 19px;
    color: $inputPlaceholder;
    @include text-elipsis-custom;
  }
}
