@import './../../../style/constants/index.scss';
@import './../../../style/mixins/index.scss';

.table {
  width: 100%;
  border-radius: $desktopBorderRadius;
  background-color: $white;
  box-shadow: 0 0 8px 0 $shadowBlackLight;

  @media (max-width: $maxMobileSize), (orientation: portrait) {
    background-color: transparent;
    box-shadow: none;
  }

  &__header {
    position: relative;
    height: 40px;
    width: 100%;
    min-width: 100%;
    padding: 0 24px;
    background-color: $white;
    border-top-left-radius: $desktopBorderRadius;
    border-top-right-radius: $desktopBorderRadius;
    border-bottom: 1px solid $grey;
  }

  &__header-list {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__header-list-li {
    padding-right: 6px;
    font: $medium 14px/16px $mainFont;
    color: $black;
    @include text-elipsis-custom;

    &:last-of-type {
      padding-right: 0;
      text-align: end;

      .table__header-list-li-inner {
        justify-content: flex-end;
      }
    }
  }

  &__header-list-li-inner {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;

    span {
      @include text-elipsis-custom;
    }

    &--active {
    }
  }

  &__sort-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 20px;
    height: 16px;
    padding-left: 4px;

    div div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 14px;
      height: 14px;
      svg {
        width: 14px;
        height: 14px;
      }
    }
  }

  &__body {
    width: 100%;
    min-height: 100px;
    max-height: calc(100vh - 230px);
    overflow-y: auto;

    @media (max-width: $maxMobileSize), (orientation: portrait) {
      max-height: calc(100vh - 250px);
    }
  }

  &__pagination-block {
    @include display-flex(row, center, center);
    width: 100%;
    height: 50px;
    border-radius: 0 0 $desktopBorderRadius $desktopBorderRadius;
    background-color: $white;
    border-top: 1px solid $grey;

    @media (max-width: $maxMobileSize), (orientation: portrait) {
      height: 40px;
      margin-top: 10px;
      border-top: none;
      border-radius: $mobileBorderRadius;
      background-color: transparent;
    }
  }
}
