@import './../../../style/constants/index.scss';
@import './../../../style/mixins/index.scss';

.pagination-block {
  @include display-flex(row, center, center);
  width: 100%;

  &__btn {
    @include display-flex(row, center, center);
    flex-shrink: 0;
    width: 26px;
    height: 26px;

    @media (max-width: $maxMobileSize), (orientation: portrait) {
      width: 38px;
      height: 40px;
    }

    div div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      svg {
        width: 12px;
        height: 12px;

        @media (max-width: $maxMobileSize), (orientation: portrait) {
          width: 16px;
          height: 16px;
        }

        g g {
          fill: $inputPlaceholder;
          transition: color 0.2s ease-in-out;
        }
      }
    }

    &--prev {
      transform: rotate(180deg);
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 500px;

    @media (max-width: $maxMobileSize), (orientation: portrait) {
      justify-content: space-between;
    }

    li {
      width: 28px;
      height: 28px;
      padding: 0;
      border: none;
      border-top: 1px solid $darkWhiteBackground;
      border-bottom: 1px solid $darkWhiteBackground;
      background-color: $darkWhiteBackground;
      text-align: center;
      transition: none;
      list-style: none;
      cursor: pointer;

      @media (max-width: $maxMobileSize), (orientation: portrait) {
        flex: 1;
        width: 40px;
        height: 40px;
        background-color: $white;
        border-top: 1px solid $grey;
        border-bottom: 1px solid $grey;
      }

      a {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        border: none;
        font: $regular 14px/26px $mainFont;
        color: $darkGrey;
        text-align: center;
        text-decoration: none;
        outline: none;
        transition: none;

        @media (max-width: $maxMobileSize), (orientation: portrait) {
          line-height: 38px;
        }

        &:after {
          position: absolute;
          z-index: 1;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          content: '';
          display: block;
          width: 24px;
          height: 2px;
          background-color: $black;
          opacity: 0;

          @media (max-width: $maxMobileSize), (orientation: portrait) {
            width: 80%;
          }
        }

        &:hover {
          border: none;
          color: $black;
        }
      }

      &.active {
        pointer-events: none;

        a {
          font-weight: $bold;
          color: $mainBlue;

          &:after {
            background-color: $mainBlue;
            opacity: 1;
          }
        }
      }

      &.previous {
        position: relative;
        flex-grow: 0;
        border: 1px solid $grey;
        border-radius: $desktopBorderRadius 0 0 $desktopBorderRadius;
        background-color: $white;

        @media (max-width: $maxMobileSize), (orientation: portrait) {
          border-radius: $mobileBorderRadius 0 0 $mobileBorderRadius;
        }

        a {
          &:after {
            display: none;
          }

          &:hover {
            svg g g {
              fill: $black;
            }
          }
        }
      }
      &.next {
        position: relative;
        flex-grow: 0;
        border: 1px solid $grey;
        border-radius: 0 $desktopBorderRadius $desktopBorderRadius 0;
        background-color: $white;

        @media (max-width: $maxMobileSize), (orientation: portrait) {
          border-radius: 0 $mobileBorderRadius $mobileBorderRadius 0;
        }

        a {
          &:after {
            display: none;
          }

          &:hover {
            svg g g {
              fill: $black;
            }
          }
        }
      }

      &.disabled {
        pointer-events: none;

        a {
          opacity: 0.3;
        }
      }

      &.break-me {
        pointer-events: none;

        a {
          opacity: 0.5;
        }
      }
    }
  }
}
